[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"

[packages]
requests = "*"
edgegrid-python = "*"
httpie = "*"
pyjwt = "*"
flake8 = "*"
pipenv = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[scripts]
format = "black --target-version=py36 . "
lint = "flake8 *.py"