[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"

[packages]
requests = "*"
edgegrid-python = "*"
httpie = "*"
pyjwt = "*"
flake8 = "*"
pipenv = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
